
.atag{
text-decoration:none;
font-size:13px;
color:rgb(41, 128, 185);
}
th{
font-size: 13px;
color:#424242 ;

}

td{
font-size: 13px;
color: #585858;
}

.board_d{
float:left;
width: 100%;
margin: 0 auto;
}

.board_table{
width: 80%; 
min-width:800px; 
margin:1% auto; 
border-collapse: collapse;"
}
.boardth{
height:37px;
padding-top: 10px;
background-color: #E6E6E6;
border-bottom: 1px solid #2E2E2E;
}
.boardth th{
padding-top: 10px;"
}
.board_contents{
border-bottom: 1px solid #2E2E2E;
height: 45px; 
text-align: center;
background-color: white;
}

.search_input{
 height: 30px;
 width:30%;
 min-width:400px; 
 padding: 3px 6px; 
 font-size: 14px;"
 margin-bottom: 1px;
}
.search_d{
	float:left;
 	width: 90%; 
 	margin-left:10%;
 	padding: 0 auto;
}
.paging_d{
float:left;
 margin:15px auto;
 width:100%;
}